extends layout

block content
    h1= title

    div
        form(action="/login" method="get" class="form-signin")
            label= 'Username'
            br
            br
            input(type="text" name="username" placeholder="" class="input-block-level")
            br
            br
            label= 'Password'
            br
            br
            input(type="password" name="password" placeholder="" class="input-block-level")
            br
            br
            button(type="submit" class="btn-medium") Login
