extends layout

block content
    h1= title
    h1= name
    
    div
        div class="well" id="reporttreeview_json"
        br
        
        form(action="/system_user_manager/user_logout" method="get" class="logout")
            button(type="submit" class="btn-medium") Log Out
    script
      include /javascripts/reports_tree.js