doctype html
html
  head
    img(src="./images/steps_logo_small.jpg")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    block content
